doctype
html
   head
      title Math 222
      link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic',
           rel='stylesheet', type='text/css')
   body
      
      // Contact Tables
      table.contact(style='float:left')
         tr
            th Teacher Assistant
            td Christopher Breeden
         tr
            th Office
            td VV 318
         tr
            th Office Hours
            td Wed 8:45-9:45am
         tr
            th
            td Wed 10:55-11:55am
      table.contact(style='float:right')
         tr
            th Email
            td breeden@math.wisc.edu
         tr
            th Website
            td http://math.breeden.cc
         tr
            th Discussions
            td TTh 9:55-10:45am at B203
         tr
            th
            td TTh 12:05-12:55pm at B129
            
      // Course Description
      section  
         h2 Course Description
         p. The course will cover second semester calculus, including: 
            techniques of integration, improper integrals, Taylor expansions 
            and error estimations , elementary first order differential 
            equations, sequences and series, introduction to vectors.
            
      // Office Hours
      section
         h2 Shared Office Hours
         table#office-hours
            tr
               td
               td Monday
               td Tuesday
               td Wednesday
               td Thursday
            tr
               th #[strong Breeden] (318 VV)
               td
               td
               td 8:45-9:45 AM <br/> 10:55-11:55 AM
               td
            tr
               th #[strong Hu] (101-04 VV)
               td 3:00-5:00 PM
               td
               td
               td
            tr
               th #[strong Kuzmenk] (716 VV)
               td 11:00-12:00 PM
               td
               td
               td
            tr
               th #[strong Yu] (518 VV)
               td
               td 5:15-6:15 PM
               td 10:45-11:55 AM
               td
      
         p. 
            The TAs for this course have collective decided that we would 
            hold "floating" office-hours. This means that you are free to 
            attend any TA's office hours in this course.  The table above lists
            every office-hour.  Which reminds me, have you thanked a TA today? :)

      // Course Materials
      section
         h2 Materials
         ul#course-materials
            li.course-materials-required Math 222 Course Packets
            
         p.
            There is a required course pack based on departmental notes. 
            Instructions for purchasing your course packet with the Math 
            Department can be found at this link 
            #[a(href="https://www.math.wisc.edu/calculus-course-materials") here]. 
            They will take cash (exact change appreciated), WisCard, 
            or online payment. Users who do the online Cashnet purchase 
            <em>must</em> bring a copy of their email receipt and a photo ID 
            with them to pick up their course packet. If you have questions 
            concerning your course packet sale, contact copycenter@math.wisc.edu.

      // Policy
      section
         h2 Policy
         
         ul#policy-list
            li
               p  #[h3 Grades] Final grades are calculated from the following
                  
                  table#grade-table
                     tr
                        th 18%
                        td Homework and Quizzes
                     tr
                        th 25%
                        td Exam I (7:15-8:30 PM Thursday, Feb 25)
                     tr
                        th 25%
                        td Exam II (7:15-8:30 PM Thursday, April 7)
                     tr
                        th 32%
                        td Final Exam (2:45-4:45 PM Wednesday, May 11)
